<template>
    <div class="select">
        <ul class="select-options">
            <li
                v-for="{ text, value } in options"
                :key="value"
                @click="$emit('addToSelected', value)"
                :class="[
                    'select-options__item',
                    {
                        _selected: selected.has(value),
                    },
                ]"
            >
                {{ text }}
            </li>
        </ul>
    </div>
</template>

<script setup>
import { ref } from 'vue'

const { options } = defineProps({
    options: {
        type: Array,
        default: () => [],
    },
    selected: {
        type: Set,
        default: () => [],
    },
})
</script>

<style lang="scss" scoped>
.select {
    &-options {
        &__item {
            display: inline-block;
            width: max-content;
            padding: 17px 24px;
            margin: 10px;
            border-radius: 100px;

            cursor: pointer;
            transition: all ease-in-out 0.1s;

            font-weight: 500;
            font-size: 14px;
            line-height: 14px;
            letter-spacing: -0.01em;
            background-color: #f4f6fb;

            &:last-child {
                margin-bottom: 0;
            }
            &._selected {
                color: #fff;
                background-color: #007bfb;
            }
        }
    }
}

@media (min-width: 600px) {
    .select {
        &-options {
            &__item {
                padding: 12px 24px;
            }
        }
    }
}

@media (min-width: 900px) {
    .select {
        &-options {
            &__item {
                padding: 15px 30px;
            }
        }
    }
}
</style>