<template>
    <svg width="28" height="28" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg">
        <g clip-path="url(#clip0_705_7610)">
            <path
                d="M21 5.83334H7.00002C5.71136 5.83334 4.66669 6.87801 4.66669 8.16668V22.1667C4.66669 23.4553 5.71136 24.5 7.00002 24.5H21C22.2887 24.5 23.3334 23.4553 23.3334 22.1667V8.16668C23.3334 6.87801 22.2887 5.83334 21 5.83334Z"
                stroke="#007BFB"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
            />
            <path
                d="M18.6667 3.5V8.16667"
                stroke="#007BFB"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
            />
            <path
                d="M9.33331 3.5V8.16667"
                stroke="#007BFB"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
            />
            <path
                d="M4.66669 12.8333H23.3334"
                stroke="#007BFB"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
            />
            <path
                d="M11.6666 17.5H9.33331V19.8333H11.6666V17.5Z"
                stroke="#007BFB"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
            />
        </g>
        <defs>
            <clipPath id="clip0_705_7610">
                <rect width="28" height="28" fill="white" />
            </clipPath>
        </defs>
    </svg>
</template>

<script setup></script>

<style lang="scss" scoped></style>
