<template>
    <svg width="28" height="28" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg">
        <g clip-path="url(#clip0_705_6759)">
            <path
                d="M14 16.3333C15.933 16.3333 17.5 14.7663 17.5 12.8333C17.5 10.9003 15.933 9.33331 14 9.33331C12.067 9.33331 10.5 10.9003 10.5 12.8333C10.5 14.7663 12.067 16.3333 14 16.3333Z"
                stroke="#007BFB"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
            />
            <path
                d="M20.5998 19.4332L15.6496 24.3834C15.2121 24.8204 14.619 25.0659 14.0005 25.0659C13.3821 25.0659 12.789 24.8204 12.3515 24.3834L7.40013 19.4332C6.09489 18.1279 5.20602 16.4648 4.84593 14.6544C4.48584 12.8439 4.6707 10.9673 5.37713 9.26188C6.08357 7.55646 7.27984 6.09882 8.81469 5.07328C10.3495 4.04774 12.154 3.50037 14 3.50037C15.8459 3.50037 17.6504 4.04774 19.1852 5.07328C20.7201 6.09882 21.9164 7.55646 22.6228 9.26188C23.3292 10.9673 23.5141 12.8439 23.154 14.6544C22.7939 16.4648 21.905 18.1279 20.5998 19.4332V19.4332Z"
                stroke="#007BFB"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
            />
        </g>
        <defs>
            <clipPath id="clip0_705_6759">
                <rect width="28" height="28" fill="white" />
            </clipPath>
        </defs>
    </svg>
</template>

<script setup></script>

<style lang="scss" scoped></style>
