<template>
    <div class="app-container _center">
        <div class="items-wrapper">
            <div :class="['app-item__wrapper _item1', { _waiting: !isItem1Active, _active: isItem1Active }]">
                <div class="app-item">
                    <span class="app-item__arrow" @click="item1Active = false">↓</span>
                    <span class="app-item__icon"><Location /></span>
                    <h3 class="app-item__title">Где вы рассматриваете квартиру?</h3>
                    <AppSelect
                        :options="apartsOptions"
                        :selected="selectedAparts"
                        @addToSelected="apartsSelectHandler"
                    />
                </div>
            </div>
            <div :class="['app-item__wrapper _item2', { _waiting: isItem1Active, _active: !isItem1Active }]">
                <div class="app-item">
                    <span class="app-item__arrow" @click="item1Active = true">↑</span>
                    <span class="app-item__icon"><Calender /></span>
                    <h3 class="app-item__title">Когда вы хотите переехать в свой новый дом?</h3>
                    <AppSelect
                        :options="whenToMoveOptions"
                        :selected="selectedMoves"
                        @addToSelected="whenToMoveHandler"
                    />
                </div>
            </div>
        </div>

        <div class="app-control">
            <button class="app-control__btn" @click="sendData" :disabled="isDisabledBtn">Подобрать квартиры</button>
        </div>
    </div>
</template>

<script setup>
import { computed, ref, watch } from 'vue'
import AppSelect from './components/AppSelect.vue'
import Location from './components/icons/Location.vue'
import Calender from './components/icons/Calender.vue'

const apartsOptions = ref([
    { text: 'Москва', value: 1 },
    { text: 'Московская область', value: 2 },
    { text: 'Санкт-Петербург', value: 3 },
])

const whenToMoveOptions = ref([
    { text: 'В этом году', value: 1 },
    { text: 'В следующем году', value: 2 },
    { text: 'Можно позже', value: 3 },
])

const selectedAparts = ref(new Set())
const selectedMoves = ref(new Set())

const item1Active = ref(true)
const isItem1Active = computed(() => item1Active.value)

const apartsSelectHandler = value => {
    item1Active.value = false

    if (selectedAparts.value.has(value)) {
        return selectedAparts.value.delete(value)
    }
    return selectedAparts.value.add(value)
}

const whenToMoveHandler = value => {
    if (selectedMoves.value.has(value)) {
        return selectedMoves.value.delete(value)
    }
    return selectedMoves.value.add(value)
}

const isDisabledBtn = computed(() => !(!![...selectedAparts.value].length && !![...selectedMoves.value].length))

const sendData = () => {
    let apartments = []
    let moves = []

    for (const item of [...selectedAparts.value]) {
        const candidate = apartsOptions.value.find(apart => apart.value === item)

        if (candidate) apartments.push(candidate)
    }

    for (const item of [...selectedMoves.value]) {
        const candidate = whenToMoveOptions.value.find(variant => variant.value === item)

        if (candidate) moves.push(candidate)
    }

    apartments.forEach(apartment => console.log(apartment))
    console.log('=================================')
    moves.forEach(move => console.log(move))

    selectedAparts.value.clear()
    selectedMoves.value.clear()
}
</script>

<style lang="scss" scoped>
.app {
    &-container {
        max-width: 695px;
        margin: 0 auto;
    }
    &-item {
        position: relative;

        width: 100%;
        border-radius: 12px;
        padding: 65px 25px 50px;

        text-align: center;

        &__wrapper {
            position: absolute;
            left: 50%;
            transform: translate(-50%, 50%) scale(0);

            width: 85%;

            opacity: 0.3;
            transition: box-shadow 0.3s ease-in-out 0s, opacity 0.3s ease-in-out 0s, top 0.5s ease-in-out 0.2s,
                bottom 0.5s ease-in-out 0.2s, transform 0.5s ease-in-out 0.3s;

            &._active,
            .app-item__icon {
                transform: translate(-50%, 50%) scale(1);
                box-shadow: 8px 8px 32px rgba(165, 174, 198, 0.3);
            }
            &._active,
            .app-item__icon,
            .app-item__arrow {
                opacity: 1;
            }
            &._item1._active {
                top: -15%;
            }
            &._item1._waiting {
                top: -100%;
            }
            &._item2._active {
                top: -10%;
            }
            &._item2._waiting {
                top: 200%;
            }
            &._item1 .app-item .app-item__arrow {
                bottom: -10%;
            }
            &._item2 .app-item .app-item__arrow {
                top: -25%;
            }
        }

        &__arrow {
            position: absolute;
            transform: translate(-50%, 50%);

            opacity: 0.3;
            cursor: pointer;
            animation: arrow 1s ease infinite alternate;

            font-size: 1.5rem;
            color: #007bfb;

            @keyframes arrow {
                from {
                    margin: 0;
                }
                to {
                    margin: -20px 0;
                }
            }
        }

        &__title {
            margin-bottom: 20px;

            font-weight: 500;
            font-size: 20px;
            line-height: 24px;
            letter-spacing: -0.015em;
        }

        &__icon {
            position: absolute;
            top: -20%;
            left: 50%;
            transform: translate(-50%, 50%);

            display: inline-block;
            padding: 18px 21px;
            border-radius: 50%;

            background-color: #fff;

            transition: box-shadow 0.3s ease-in-out 0s;
        }
    }

    &-control {
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 9999;

        padding: 10px 16px;
        border-top-right-radius: 12px;
        border-top-left-radius: 12px;

        background-color: #fff;
        box-shadow: 8px -8px 32px rgba(165, 174, 198, 0.3);

        &__btn {
            width: 100%;
            padding: 17px;
            border-radius: 100px;

            text-align: center;
            outline: none;
            border: none;

            font-weight: 500;
            font-size: 16px;
            letter-spacing: -0.01em;
            color: #fff;
            background-color: #007bfb;

            &:disabled {
                pointer-events: none;
                cursor: not-allowed;
                opacity: 0.5;

                color: #8c94a8;
                background: #ecf0f8;
            }
        }
    }
}

.items-wrapper {
    position: relative;

    height: 100vh;

    overflow: hidden;
}

@media (min-width: 600px) {
    .app {
        &-item {
            padding: 45px 10px 25px;

            &__icon {
                padding: 15px 18px;
                top: -40%;
            }
            &__wrapper {
                &._item1._active {
                    top: -10%;
                }
                &._item2._active {
                    top: -5%;
                }
                &._item1 .app-item .app-item__arrow {
                    bottom: -10%;
                }
                &._item2 .app-item .app-item__arrow {
                    top: -50%;
                }
            }
        }
    }
}

@media (min-width: 900px) {
    .app {
        &-item {
            padding: 65px 40px 50px;

            &__icon {
                padding: 18px 21px;
                top: -25%;
            }

            &__wrapper {
                &._item1._active {
                    top: 0%;
                }
                &._item2._active {
                    top: 0%;
                }
                &._item2 .app-item .app-item__arrow {
                    top: -30%;
                }
            }
        }
    }
}
</style>
